<div id="story-header" class="<%= "edit_mode" if edit_mode? %>">
  <%= @story.show :title, edit_mode? %>
  <%= @story.show :description, edit_mode? %>
  <%= @story.table_of_contents %>
</div>

<ul id="story-scene-list" data-story-id="<%= @story.id %>">
  <% @story.scenes.each do |scene| %>
    <%= render :partial => 'shared/scene', :locals => { :scene => scene } %>
  <% end %>
  <%= add_button :scene if edit_mode? %>
</ul>

<%= render :partial => 'shared/attachment_modal' if edit_mode? %>
<%= render :partial => 'shared/picture_modal' %>
