<%
   dimensions = Paperclip::Geometry.from_file(attachment.file.path(:medium)) unless attachment.file.path.blank?
   height = 300
   height = dimensions.height.to_i if dimensions.present?
%>
<li class="attachment" data-attachment-id="<%= attachment.id %>">
  <a class="delete-attachment-btn" href="#">&times;</a>
  <a href="<%= attachment.file.url %>"
     class="attachment-thumb"
     data-original-url="<%= attachment.file.url %>"
     style="height:<%= height %>px">
    <%= image_tag attachment.file.url(:medium) %>
  </a>
  <textarea class="attachment-caption" name='attachment[caption]'
            data-post-url='<%= attachment_path(attachment) %>'
            data-dirty="<%= attachment.caption %>"
            placeholder="Add Caption..."><%= attachment.caption %></textarea>
</li>