<%= add_button :block if edit_mode? %>
<li class="<%= block.klass %> block" data-block-id="<%= block.id %>">
    <div class="column">
      <% if edit_mode? %>
        <a class="delete-block-btn" href="#" title="Delete Block">&times;</a>
        <div class="sorting-handle"><i class="icon-reorder"></i></div>
      <% end %>
      <% unless edit_mode? %><div class="block-type"><%= block.klass.to_s.humanize.titleize %></div><% end %>
      <%#= block.content.html_safe %>
      <%= block.show :content, edit_mode? %>
    </div>
    <ul class="block-attachment-list">
      <% block.attachments.each do |attachment| %>
          <%= render :partial => 'shared/attachment', :locals => { :attachment => attachment } %>
      <% end %>
      <% if edit_mode? %>
          <li class="add-attachment">
            <a href="#attachment-modal"
               role="button"
               class="attachment-modal-btn"
               title="Attach New File">
              <i class="icon-pushpin"></i>
            </a>
          </li>
      <% end %>
    </ul>
</li>