<%= add_button :scene if edit_mode? %>
<li class="scene" data-scene-id="<%= scene.id %>" id="scene-<%= scene.id %>">
  <% if edit_mode? %>
  <a class="delete-scene-btn" href="#" title="Delete Scene">&times;</a>
  <% end %>
  <%= scene.show :title, edit_mode? %>

<%
  #<div class="intensity">
  #    (<%= scene.narrative_intensity >, <%= scene.gameplay_intensity >)
  #</div>
%>
  <div class="scene-purpose">Scene Purpose</div>
  <%= scene.show :notes, edit_mode? %>

  <ul class="scene-block-list">
    <% scene.blocks.each do |block| %>
      <%= render :partial => 'shared/block', :locals => { :block => block } %>
    <% end %>
    <%= add_button :block if edit_mode? %>
  </ul>
</li>