<%= add_button :scene if edit_mode? %>
<li class="scene" data-scene-id="<%= scene.id %>" id="scene-<%= scene.id %>">
  <% if edit_mode? %>
  <a class="delete-scene-btn" href="#" title="Delete Scene">&times;</a>
  <% end %>
  <%= scene.show :title, edit_mode? %>

  <div class="intensity">
    <label>Narrative:</label> <div class="narrative" data-start-value="<%= scene.narrative_intensity %>">
      <input type="hidden"
             name="scene[narrative_intensity]"
             data-post-url="<%= editor_scene_path(scene) %>"
             data-dirty="<%= scene.narrative_intensity %>" />
    </div>
    <label>Gameplay:</label> <div class="gameplay" data-start-value="<%= scene.gameplay_intensity %>">
      <input type="hidden"
             name="scene[gameplay_intensity]"
             data-post-url="<%= editor_scene_path(scene) %>"
             data-dirty="<%= scene.gameplay_intensity %>" />
    </div>
  </div>

  <div class="scene-purpose">Scene Purpose</div>
  <%= scene.show :notes, edit_mode? %>

  <ul class="scene-block-list">
    <% scene.blocks.each do |block| %>
      <%= render :partial => 'shared/block', :locals => { :block => block } %>
    <% end %>
    <%= add_button :block if edit_mode? %>
  </ul>
</li>