<div id="story-header">
  <%= @story.editable :title %>
  <%= @story.editable :description %>
  <%= @story.table_of_contents %>
</div>

<ul id="story-scene-list" data-story-id="<%= @story.id %>">
  <% @story.scenes.each do |scene| %>
    <%= render :partial => 'shared/scene', :locals => { :scene => scene } %>
  <% end %>
  <%= add_button :scene %>
</ul>

<%= render :partial => 'shared/attachment_modal' %>
<%= render :partial => 'shared/picture_modal' %>
